name: Build & Push Backend

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/FamilyTree.Api/Dockerfile
          push: true
          tags: |
            ghcr.io/baiaman1/familytree-backend:latest
            ghcr.io/baiaman1/familytree-backend:${{ github.sha }}
